*, *:before, *:after{
    box-sizing: border-box;
}

::selection{
    color: mediumpurple;
    background-color: #323232;
}

body{
    margin: 0;
    background-image: url("../assets/background.jpg");
    background-color: #282828;
    background-size: cover;
    background-attachment: fixed;
}

main{
    width: 1100px;
    margin: 170px auto 40px;
    padding: 40px;
    border-radius: 20px;
    background-color: rgba(147, 112, 219, 0.09);
    color: lightgrey;
    box-shadow: 0 0 10px black;
    animation: fadein 2s forwards;
    display: flex;
    justify-content: space-evenly;
}

main img{
    width: 240px;
    border-radius: 20px;
    border: 2px solid goldenrod;
    margin-bottom: 15px;
}

section h3{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

section h3 span{
    color: goldenrod;
    letter-spacing: unset;
}

aside{
    text-align: center;
    width: 700px;
    flex-direction: column;
    justify-content: center;
}

aside h1{
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: lightgrey;
    font-size: 40px;
}

aside h3{
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    font-size: 15px;
    color: goldenrod;
}

main aside section{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formup{
    display: flex;
    flex-direction: row;
}

.formup input[type="text"]{
    width: 200px;
}

.formup input[type="submit"]{
    width: 100px;
}

.formup input[type="submit"]:focus{
    width: 100px;
}

aside section form input{
    padding: 10px;
    font-size: inherit;
    height: 45px;
}

aside section form input[type="text"], input[type="password"]{
    width: 300px;
    display: block;
    margin-bottom: 25px;
    color: rebeccapurple;
    border: 2px solid rebeccapurple;
    background: white;
    text-align: center;
}

input[type="submit"]{
    margin-bottom: 40px;
    width: 300px;
    height: 45px;
    border: none;
    background: rebeccapurple;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover{
    background: mediumpurple;
    transition: 0.2s ease-in;
}

input[type="submit"]:focus{
    width: 300px;
    height: 45px;
    border: 2px solid mediumpurple;
    background: white;
    color: mediumpurple;
}

input:focus{
    background: mediumpurple;
    color: white;
    outline: none;
}

.wrapper{
    display: flex;
}
.wrapper a{
    width: 1100px;
    margin: 0 auto 50px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    justify-content: center;
    padding: 20px;
    background-color: rgba(102, 51, 153, 0.3);
    color: lightgrey;
    border: 2px solid mediumpurple;
    border-radius: 20px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    transition: .2s ease-in;
    animation: fadein 2s forwards;
}

.wrapper a:hover{
    background-color: rebeccapurple;
    border: 2px solid lightgrey;
    color: white;
}

.tickets{
    width: 1100px;
    margin: 0 auto 40px;
    padding: 40px;
    border-radius: 20px;
    background-color: rgba(147, 112, 219, 0.09);
    color: lightgrey;
    box-shadow: 0 0 10px black;
    animation: fadein 2s forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tickets h1{
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.tickets table{
    margin-bottom: 40px;
}

.tickets table, th, td{
    border: 2px solid mediumpurple;
    border-collapse: collapse;
    width: 1000px;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
}

.tickets table th{
    padding: 5px;
    background-color: rgba(102, 51, 153, 0.6);
}

.tickets table td{
    text-align: center;
    padding: 10px;
    background-color: rgba(102, 51, 153, 0.2);
}

.tickets table td a{
    width: 50px;
    margin: 0;
    text-decoration: none;
    color: white;
    padding: 10px 50px;
    transition: .2s ease-in;
    mask-image: radial-gradient(closest-side, rgba(0,0,0,1), rgba(0,0,0,0));
}

.tickets table td a:hover{
    color: white;
    background: rebeccapurple;
    mask-image: radial-gradient(closest-side, rgba(0,0,0,1), rgba(0,0,0,0));
}

/* Animations */
@keyframes fadein {
    from{
        transform: translateY(2em);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

/* Mobile */
@media (max-width: 450px) {

    html, body {width: auto!important; overflow-x: hidden!important}

    main{
        width: 90%;
        flex-direction: column-reverse;
        margin-top: 230px;
    }

    section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section h3{
        text-align: center;

    }

    aside{
        width: 90%;
    }

    .tickets{
        width: 90%;
    }

    .tickets table{
        width: 90%;
    }

    .tickets table,tr, th, td{
        width: 90%;
        font-size: 13.5px;
        padding: 5px;
    }

    .tickets table td a{
        width: 90%;
        font-size: 13.5px;
        padding: 5px;
        mask-image: unset;
    }

    .wrapper{
        margin: 0 auto;
        width: 90%;

    }

}